body{
    background: #FCCDD6;
}
.App{
    width: 750px;
    margin: auto;
}
header.title{
    width: 750px;
    display: flex;
    align-items: center;
}

.title h1{
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #D51067;
    margin: auto auto;
}

.title img{
    width: 100px;
    height: 100px;
}